body {
    margin: 0;
    background: linear-gradient(135deg, #3b0b5c, #6a1b9a);
    color: rgb(4, 8, 59);
}
h5,h6{
    color: rgb(3, 2, 44);
}
offcanvas-body{
    color: rgb(10, 19, 134)
}
